<div>
    <form name="playerSettingsForm" id="playerSettingsForm" novalidate>
        <h1>Change Player Settings</h1>

        <div id="playerOneSettings">
            <h3>Player One:</h3>
            <label>Name: </label>
            <input ng-model="playerOneName" />
            <br />
            <label>Picture URL: </label>
            <input ng-model="playerOneImage" />
        </div>
        <div id="playerTwoSettings">
            <h3>Player Two:</h3>
            <label>Name: </label>
            <input ng-model="playerTwoName" />
            <br />
            <label>Picture URL: </label>
            <input ng-model="playerTwoImage" />
        </div>

        <button class="btn-primary" ng-click="saveSettings()">Change Settings</button>
    </form>
</div>

