<div>
    <form name="playerSettingsForm" id="playerSettingsForm" novalidate>
        <h2>How To Play</h2>

        <div id="playerOneSettings">
            <h3>Player One:</h3>
            <label>Name: </label>
            <input ng-model="playerOneName" />
            <br />
            <label>Picture URL: </label>
            <input ng-model="playerOneImage" />
        </div>
        <div id="playerTwoSettings">
            <h3>Player Two:</h3>
            <label>Name: </label>
            <input ng-model="playerTwoName" />
            <br />
            <label>Picture URL: </label>
            <input ng-model="playerTwoImage" />
        </div>

        <button ng-click="debug()">Click Me!</button>
    </form>
</div>