<div ng-controller="gameController">
    <div style="text-align:center">
        <input style="margin-bottom:10px;display:{{startButtonDisplay}}" type="button" value="Start Game" ng-click="startGame();" />
        <input style="margin-bottom:10px;display:{{pauseButtonDisplay}}" type="button" value="{{pauseButtonText}}" ng-click="pauseGame();" />
        <input style="margin-bottom:10px;display:{{resetButtonDisplay}}" type="button" value="Restart" ng-click="startGame();" />
    </div>

    <svg style="background-color:white" ng-attr-height="{{height}}" ng-attr-width="{{width}}" xlmns="http://www.w3.org/2000/svg">
        <image ng-attr-x="{{potato.getCoordinates().x}}" ng-attr-y="{{potato.getCoordinates().y}}" xlink:href="images/Potato_clip_art.svg" ng-attr-width="{{potato.getSize().w}}" ng-attr-height="{{potato.getSize().h}}" ng-attr-transform='rotate({{potato.r}} {{potato.getCoordinates().x + potato.getSize().w/2}} {{potato.getCoordinates().y + potato.getSize().h/2}})' />
        <rect ng-attr-x="{{player1.getPaddle().getCoordinates().x}}" ng-attr-y="{{player1.getPaddle().getCoordinates().y}}" ng-attr-width="{{player1.getPaddle().getSize().w}}" ng-attr-height="{{player1.getPaddle().getSize().h}}" ng-attr-fill="{{player1.getPaddle().color}}" stroke="green"></rect>'
        <rect ng-attr-x="{{player2.getPaddle().getCoordinates().x}}" ng-attr-y="{{player2.getPaddle().getCoordinates().y}}" ng-attr-width="{{player2.getPaddle().getSize().w}}" ng-attr-height="{{player2.getPaddle().getSize().h}}" ng-attr-fill="{{player2.getPaddle().color}}" stroke="red"></rect>
        <rect ng-attr-x="0" ng-attr-y="0" ng-attr-width="{{width}}" ng-attr-height="{{height}}" fill="none" stroke="black"></rect>

        <text ng-attr-style="display:{{messageDisplay}}" ng-attr-textLength="{{width/2}}" ng-attr-x="{{width/4}}" ng-attr-y="{{height/2}}" fill="black" font-size="36">{{message}}</text>
    </svg>
</div>